
#scrolly-dnt {
    position: relative;
}

.step {
    opacity: 0.3;
    width: 20%;
    height: 40%;
    padding-left: 5%;
    padding-top: 0;
    padding-bottom: 5%;
    text-shadow: -2px 2px 3px white;
}

#primer-p {
    margin-top: 10%;
}

#vientos-1, #vientos-2, #vientos-3, #vientos-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 5px;
    margin-top: 0px;
}

.enfermedades {
    position: relative;
    margin-left: 0px;
    margin-top: 0px;
    width: 500%;
}

#ccd {
    margin-bottom: 300px;
    width: 30%;
}

