
#scrolly-dnt {
    position: relative;
}

.step {
    opacity: 0.3;
    width: 20%;
    height: 40%;
    padding-left: 5%;
    padding-top: 0;
    padding-bottom: 5%;
    text-shadow: -2px 2px 3px white;
}

#primer-p {
    margin-top: 10%;
}

